

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Wofür messen wir und warum ist das relevant?</h3>
        <p>Wir alle atmen sie aber keinem ist klar, was drin ist, deswegen ist es sinnvoll zu messen,was ins der Luft ist.
        Jeder der möchte kann bei sich zuhause einen Sensor aufbauen und daten sammeln...</p>
      </div>
      <div class="six wide right floated column">
        <img src="/DatenFuerDieStadt/img/board.jpg" class="ui large bordered rounded image">
      </div>
    </div>
  </div>
</div>


<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>Feinstaub</h3>
        <p>Messen die Stuttgarter im Projekt Lufdaten.info</p>
        <div class="ui vertical stripe segment">
          <div class="ui text container">
            <p>Es gibt schon über tausend Sensoren auf der ganzen Welt die Feinstaub messen...</p>
            <h4 class="ui horizontal header divider">
              <a href="https://luftdaten.info" class="ui button">Zum Projekt des OKLab Stuttgart</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui text container">
          <h3 class="ui header">NO2 Messen wir in Köln im "OpenAir" Projekt</h3>
          <p>Wir verteilen Sensoren, und wollen in Köln ein feinmaschiges Sticksoffdioxid Messnetz zu bauen... Dafür sammeln wir gerade Sensorwerte, die später in Werte umgerechnet werden sollen, die man mit offiziellen Daten vergleichen kann.</p>
          <a class="ui large button">Ich will </a>
        </div>
      </div>
    </div>
  </div>
</div>




